html, body {
    text-align: center;
    margin: 0 auto;
}

.source-toggle-title {
    color: white;
}

.search-text-box {
    width: 280px;
}

#navigation-bar {
    background-image: linear-gradient(to right, #17284F, #476DB8);
    margin-bottom: 0px;
}

.react-switch:focus {
    outline: none;
}

.main-container {
    text-align: center;
    margin: 0 auto;
    display: table;
    border-spacing: 0px 10px;
}

.card-row {
    display: table-row;
}

.headline-card {
    transition: 0.3s;
    height: 200px;
    border-radius: 4px 4px 4px 4px;
    text-align: left;
    background-color: white;
    border: solid;
    border-width: thin;
    border-color: rgb(180, 180, 180);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.headline-card:hover {
    cursor: pointer;
}

.headline-card img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.headline-container {
    padding: 20px 16px;
    height: 80px;  
}